.form-attr{
    margin-top: 10px;
}
.right-bar{
    width: 323px;
    margin-right: 0;
}
.input-hight{
    border: 1px solid #5a98de;
}

.form-sel{
    margin: 5px 0 10px;
}
button.btn{
    position: fixed;
    bottom: 30px;
    right: 22px;
    background-color: #ccc;
}
